@use "../style/colors";
@use "../style/spacings";

.body {
    background: colors.$background-color;
    color: colors.$font-color;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: spacings.$space-lg;
}
