@use "../style/colors";

a {
    color: colors.$font-color;
}

.transition-fade {
    transition: 0.2s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
    pointer-events: none;
}
