@use "../../style/colors";
@use "../../style/spacings";

.character {
    display: flex;
    flex-direction: row;
    background: colors.$panel-color;
    border-radius: spacings.$space-sm;
}

.character-image-wrapper {
    width: 128px;
    border-radius: spacings.$space-sm;
}

.character-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: spacings.$space-sm 0 0 spacings.$space-sm;
}

.character-content {
    padding: spacings.$space-md;
}
