@use "../../style/colors";
@use "../../style/spacings";

.footer {
    padding: spacings.$space-md;
    margin: spacings.$space-md 0 spacings.$space-md 0;
    background: colors.$panel-color;
    border-radius: spacings.$space-sm;
    text-align: center;
}
