@use "sass:math";
@use "../style/spacings";
@use "../style/breakpoints";

.characters-page-list {
    display: flex;
    flex-flow: row wrap;
    padding: 0 math.div(spacings.$space-md, 2);
    margin: 0 -#{spacings.$space-md};

    > * {
        margin: 0 math.div(spacings.$space-md, 2) spacings.$space-md math.div(spacings.$space-md, 2);
        box-sizing: border-box;
        width: 100%;

        @include breakpoints.from("small") {
            width: calc(50% - spacings.$space-md);
        }

        @include breakpoints.from("medium") {
            width: calc(100% / 3 - spacings.$space-md);
        }

        @include breakpoints.from("large") {
            width: calc(25% - spacings.$space-md);
        }
    }
}
