@use "../../style/colors";
@use "../../style/spacings";
@use "../../style/breakpoints";

.header {
    display: flex;
    flex-direction: column;

    > a {
        padding: spacings.$space-md;
        margin: spacings.$space-md 0 spacings.$space-md 0;
        background: colors.$panel-color;
        border-radius: spacings.$space-sm;
    }

    @include breakpoints.from("small") {
        flex-direction: row;

        > a {
            margin-right: spacings.$space-md;
        }
    }
}

.header-title {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: larger;
    margin-right: spacings.$space-lg;
    flex-grow: 1;
}
