@use "../../style/colors";
@use "../../style/spacings";

.pagination {
    list-style: none;
    display: flex;
    margin: #{spacings.$space-md} 0;
    padding: 0;
    justify-content: center;
}

.pagination > li {
    padding: spacings.$space-md;
    margin: 0 spacings.$space-md 0 0;
    background: colors.$panel-color;
    border-radius: spacings.$space-sm;
}
