@import "../style/colors";
@import "../style/spacings";

.body {
    background: $background-color;
    color: $font-color;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: $space-lg;
}
