@use "../../style/colors";
@use "../../style/spacings";

.episode {
    background: colors.$panel-color;
    border-radius: spacings.$space-sm;
    padding: spacings.$space-md;
    margin-bottom: spacings.$space-md;
}
