@import "../../style/colors";
@import "../../style/spacings";

.character {
    display: flex;
    flex-direction: row;
    background: $panel-color;
    border-radius: $space-sm;
}

.character-image-wrapper {
    width: 128px;
    border-radius: $space-sm;
}

.character-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: $space-sm 0 0 $space-sm;
}

.character-content {
    padding: $space-md;
}
